

div  {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
  display: block;


}
h1 {
  display: block;
  margin-block-start:0.67em;
  margin-block-end : 0.67em;
  margin-inline-start : 0px;
  margin-inline-end : 0px;
}
p {
  display: block;
  margin-block-start:1em;
  margin-block-end:1em;
  margin-inline-start:0px;
  margin-inline-end;
}
body {
  line-height: 1;
 }
#form input {
  padding:15px 0px;
  border: none;
  font-size: 15px;
  margin-bottom: 20px;
}
#form input[type="submit"]  {
  background-color: green;
  cursor: pointer;
  border-radius: 5px;
  color:white;

}
.bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top:0;
  z-index: 10;
  background-color: white;
}
.of {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.time  {
  width: 33%;

}
.some {
  text-align: center;

}
.Welcome-header {
  width: 100%;
  box-sizing:border-box;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color:green;
  position:relative;
  margin-top: 130px;
}
.pest {
  font-size: 17px;
  opacity: 0.7;
  margin-top :40px;
  font-weight: normal;
  color:black;

}


#form {
  display: flex;
  flex-direction: column;
  margin: 80px 30px;
}
#form a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color:inherit;
}
